.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 30vw;
}

.config {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.snapshot {
  width: 100%;
  height: 100%;
}
