.container {
  display: grid;
  gap: 2px;
}

.popover-button {
  justify-content: flex-start !important;
  width: 300px;
  text-align: left;
  font-weight: 400 !important;
}

.calendar-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}

.popover-content {
  width: auto;
  min-width: max-content;
  padding: 0;

  & > div {
    padding: 0;
  }
}
